<div class="articleSummary clearfix">
  <div class="image">
    <%= link_to( image_tag(article.image_url, :class => :thumb), article.canonical_url, :target => :_blank ) %>
  </div>
  
  <div class="details">
    <div class="title">
      <%= link_to article.title, article.canonical_url, :target => :_blank %>
    </div>
    
    <div class="date">
      <small><%= article.published_on.strftime('%b %-d, %Y') %></small>
    </div>
    
    <div class="content">
      <%= article.summary %>
    </div>
  </div>
</div>