<p>Enter some <strong>case-sensitive</strong> comma-separated phrases to search:</p>

<%= form_tag ngram_calculator_path, :method => :get, :remote => true, :id => 'ngramForm' do %>
  <%= search_field_tag :q, params[:q], :maxlength => 10_000 %>
  <span class="smoothing">Smoothing:</span>
  <%= number_field_tag :s, params[:s] || 1, :min => 0, :max => 5 %>
  <%= submit_tag "Search NYT Weddings & Celebrations", :id => "ngramSubmit", :class => "btn" %>
<% end %>

<div id="ngramContainer"></div>

<div id="articleSummaries"></div>