@import "bootstrap";
@import "bootstrap-responsive";

#tagline {
  padding-bottom: 12px;
}

#ngramContainer {
  height: 450px;
  margin-bottom: 10px;
}

#ngramForm {
  #q { width: 497px; }
  #s { width: 30px; }
  
  .searchParams {
    margin-bottom: 10px;
  }
  
  .smoothing {
    margin-left: 10px;
  }
}

#articleSummaries {
  border-top: 1px solid #ccc;
  
  .moreArticles { margin-left: 30px; }
  
  .articleSummary {
    max-width: 620px;
    margin-bottom: 20px;
    
    .image {
      float: left;
      position: relative;
      top: 4px;
      
      .thumb {
        width: 75px;
        height: auto;
      }
    }
    
    .details {
      float: left;
      max-width: 70%;
      padding-left: 18px;
      
      .title {
        font-weight: bold;
        font-size: 120%;
      }
      
      .date {
        color: #666;
        padding-bottom: 2px;
      }
    }
  }
}
