@import "bootstrap";
@import "bootstrap-responsive";

.page-header {
  margin-bottom: 20px;
  .logo {
    color: #333333;
    text-decoration: none;
    &:hover {
      color: #999999;
    }
  }
  
  #tagline {
    padding-bottom: 12px;
    
    .rotating {
      color: #666;
      border-bottom: 1px solid #666;
      padding-right: 5px;
    }
    
    .rotating, .refreshTagline {
      &:hover { cursor: pointer; }
    }
    
    .refreshTagline {
      position: relative;
      top: 8px;
    }
  }
}

#ngramContainer {
  height: 450px;
  margin-bottom: 10px;
  
  .highcharts-button { display: none; }
}

.form-container {
  float: left;
  margin-bottom: 5px;
}

#ngramForm {
  margin: 0;
  
  #q { width: 489px; margin-right: 10px; }
  #s { width: 30px; }
  
  .searchParams { margin-bottom: 10px; }
  
  #ngramSubmit { margin-right: 10px; }
}

.socialLinks {
  float: right;
  width: 95px;
  padding: 0 10px 0 10px;
  
  #exportGraph {
    padding: 0 4px 0 4px;
  }
  
  #tweetButton, .fb-like { padding-bottom: 2px; }
}

#articleSummaries {
  border-top: 1px solid #ccc;
  
  .moreArticles { margin-left: 30px; }
  
  .articleSummary {
    max-width: 620px;
    margin-bottom: 20px;
    
    .image {
      float: left;
      position: relative;
      top: 4px;
      
      .thumb {
        width: 75px;
        height: auto;
      }
    }
    
    .details {
      float: left;
      max-width: 70%;
      padding-left: 18px;
      
      .title {
        font-weight: bold;
        font-size: 120%;
      }
      
      .date {
        color: #666;
        padding-bottom: 2px;
      }
    }
  }
}

.hasPopover {
  border-bottom: 1px dotted #999;
}