@import "bootstrap";

#ngramContainer {
  width: 600px;
  height: 400px;
  margin-bottom: 10px;
}

#ngramForm {
  #q { width: 250px; }
  #s { width: 30px; }
  
  .smoothing {
    margin-left: 10px;
    position: relative;
    top: -5px;
  }
  
  #ngramSubmit {
    margin-left: 10px;
    position: relative;
    top: -5px;
  }
}

#articleSummaries {
  width: 100%;
  border-top: 1px solid #ccc;
  
  .articleSummary {
    width: 500px;
    margin-bottom: 20px;
    
    .image {
      float: left;
      position: relative;
      top: 4px;
      
      .thumb {
        width: 75px;
        height: auto;
      }
    }
    
    .details {
      float: left;
      max-width: 80%;
      padding-left: 18px;
      
      .title {
        font-weight: bold;
        font-size: 120%;
      }
      
      .date {
        color: #666;
        padding-bottom: 2px;
      }
    }
  }
}
